.container {
  padding: 0 17rem 3rem;
  display: flex;
  flex-direction: column;
}

.container header {
  display: flex;
  align-items: center;
  height: 20rem;
}

.container header button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--white);
}

.container header h1 {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 0 auto;
}

@media(max-width: 700px) {
  .container {
    padding: 5rem 5rem;
  }

  .container header h1 svg {
    display: none;
  }

  .container header {
    flex-direction: column;
    gap: 2rem;
    height: 10rem;
  }
}
