.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-height: 50rem;
  height: 100%;
  width: 100%;
  max-width: 50rem;
  border: 1px solid var(--gray-600);
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  transition: transform 0.2s ease-in-out;
}

.container:hover {
  transform: scale(1.01);
}

.container img {
  height: 15rem;
  width: 100%;
  object-fit: contain;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem 2rem;
}

.content h3 {
  max-width: 50rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.categoryChipList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.categoryChipList li {
  width: 100%;
  max-width: 8rem;
}

.favoriteButton {
  background: transparent;
  border: 0;
  color: var(--red-500);
  cursor: pointer;

  transition: transform 0.2s;
}

.favoriteButton:hover {
  transform: translate(0, -1.5px);
}

.description {
  font-size: 1.4rem;
  line-height: 2.5rem;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.containerPublishDate {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.detailsButton {
  background: transparent;
  color: var(--purple-500);
  border: 1px solid var(--purple-500);
  border-radius: 8px;
  height: 4rem;
  padding: 0 1.5rem;
  font-weight: bold;
  cursor: pointer;

  transition: color 0.1s, background-color 0.1s;
}

.detailsButton:hover {
  background: var(--purple-500);
  color: var(--white);
}
